* {
  box-sizing: border-box;
}
input.card{
  width: 42px;
}
.body{
    height: 100vh;
    font-weight: bolder;
}
.col-8{
    background-color: #C1DEDF;
    min-height: calc(100vh/10);
    margin:2rem auto;
    border-radius: 10px;
    line-height: 25px;
    font-weight: bolder;
}
.row{
    margin:2rem 0;
    display: flex;
    justify-content:center;
}
.btn{
    margin: 1rem;
    background-color: #6EABAF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 2rem ;
    font-size: 14px;
    border-radius: 10px;
}
.btn:hover{
    display:block;
    background-color:#C1DEDF;
    color: #6EABAF;
    font-weight: bolder;
  }

.model-title{
    background-color: #6EABAF;
    border-radius: 10px 0px 10px 0px;
    color: white;
    font-weight: bolder;
    padding: 0rem 1rem;
}

.flex-cent{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}
.col-5{
    margin: 2rem 0;
}
.title h3{
    text-align:center;
    color: #227078;
    font-weight: bolder;
    font-size: 3rem;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}