<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <title>AI智慧喜</title>
</head>
<body>
    {{p}}
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>AI智慧喜</h1>
            <a href="/wash" class="btn">開始洗衣</a>
            <a href="/preference" class="btn">洗衣偏好</a>
            <a href="/history" class="btn">歷史紀錄</a>
            <a href="/bag" class="btn">洗衣袋紀錄</a>
            <div class="flex-col-1 flex-cent-1">
                <a href="/unlock" class="btn-1">香味解鎖</a>
                <a href="/map" class="btn-1">洗衣地圖</a>
            </div>
            <a href="https://d2dc-59-124-158-45.jp.ngrok.io/loginpage" class="btn-2">前往碳制郎</a>
        </div>
    </div>
</body>
</html>