<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/css/qrcode.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow">
</head>
<body>
    <section class="div">
    <div class="header">AI智慧喜</div>
    <div class="content">
        <img class="img" src = "">

        <p >
            訂單成立!
        </p>
        <div class=col-4 style="display: flex;">
            <a href="/"><button type="button" class="btn" >回首頁</button></a>
         </div>
    </div>
    <div class="footer"></div>
    </section>

</body>
</html>